nodered/flow.json
[
    {
        "id": "503e70e79225a8ed",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "rT4Xaw2bSTKFKmXZxw5u/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b5e060427f7f6d49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "57451b049e4e8caf",
                "165f9bed85cfbdf4"
            ]
        ]
    },
    {
        "id": "57451b049e4e8caf",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "0406aefe6adaf86a",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "df960744ba9429e0",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "error",
        "format": "{{msg.payload.error}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "eaa12ddee20c496f",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "df960744ba9429e0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 810,
        "y": 780,
        "wires": []
    },
    {
        "id": "39f81098b7d55840",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "a3021c971120b7d3",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "speed",
        "label": "KMPH",
        "format": "{{msg.payload.speed}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 380,
        "wires": []
    },
    {
        "id": "971cfb6ab9ab227b",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "a3021c971120b7d3",
        "order": 3,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "rpm",
        "label": "rpm",
        "format": "{{msg.payload.rpm}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "c045a564f0ae0ab6",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "a3021c971120b7d3",
        "order": 4,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "power_MAIN",
        "label": "W",
        "format": "{{msg.payload.power_MAIN}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "a97ea07554bb39ab",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "a3021c971120b7d3",
        "order": 5,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "voltage_MAIN",
        "label": "V",
        "format": "{{msg.payload.voltage_MAIN}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#b30009",
            "#e6e600",
            "#3acb3e"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 500,
        "wires": []
    },
    {
        "id": "7c88dd56d0cedb14",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "a3021c971120b7d3",
        "order": 6,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "current_MAIN",
        "label": "A",
        "format": "{{msg.payload.current_MAIN}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 540,
        "wires": []
    },
    {
        "id": "e2c1030d88e5f0bd",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "df960744ba9429e0",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "vesc_amphour",
        "format": "{{msg.payload.vesc_amphour}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "79690751de345f77",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "df960744ba9429e0",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "vesc_watthour",
        "format": "{{msg.payload.vesc_watthour}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 840,
        "y": 900,
        "wires": []
    },
    {
        "id": "5ee7dda9ab228fb9",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "a3021c971120b7d3",
        "order": 9,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "vesc_tach",
        "label": "",
        "format": "{{msg.payload.vesc_tach}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 580,
        "wires": []
    },
    {
        "id": "eb2f7fb90b004e0b",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "df960744ba9429e0",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "vesc_distance",
        "format": "{{msg.payload.vesc_distance}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 840,
        "y": 940,
        "wires": []
    },
    {
        "id": "bed55db20a2acd6a",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "a3021c971120b7d3",
        "order": 11,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "vesc_batpercentage",
        "label": "%",
        "format": "{{msg.payload.vesc_batpercentage}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 620,
        "wires": []
    },
    {
        "id": "575e8ab66e9e3679",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "53664b33a26317f2",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "575e8ab66e9e3679",
                "0406aefe6adaf86a",
                "eaa12ddee20c496f",
                "39f81098b7d55840",
                "971cfb6ab9ab227b",
                "c045a564f0ae0ab6",
                "a97ea07554bb39ab",
                "7c88dd56d0cedb14",
                "e2c1030d88e5f0bd",
                "79690751de345f77",
                "5ee7dda9ab228fb9",
                "eb2f7fb90b004e0b",
                "bed55db20a2acd6a",
                "d0d34996c3eb0c91",
                "f82b3efa3186b31c"
            ]
        ]
    },
    {
        "id": "165f9bed85cfbdf4",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 420,
        "wires": [
            [
                "53664b33a26317f2",
                "a128461696266654"
            ]
        ]
    },
    {
        "id": "a128461696266654",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "f82b3efa3186b31c",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "df960744ba9429e0",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 820,
        "wires": []
    },
    {
        "id": "d0d34996c3eb0c91",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "a3021c971120b7d3",
        "order": 11,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "vesc_batpercentage",
        "label": "C",
        "format": "{{msg.payload.battery_temperature}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b324",
            "#e6e600",
            "#cb3a3a"
        ],
        "seg1": "50",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 660,
        "wires": []
    },
    {
        "id": "b5e060427f7f6d49",
        "type": "mqtt-broker",
        "name": "HiveMq",
        "broker": "57293c48621a4b18a115b1abc866b81d.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "df960744ba9429e0",
        "type": "ui_group",
        "name": "Text",
        "tab": "0cfd61ba0f47f917",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3021c971120b7d3",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "0cfd61ba0f47f917",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cfd61ba0f47f917",
        "type": "ui_tab",
        "name": "rT4Xaw2bSTKFKmXZxw5u",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
